#title {
    font-size: 2rem;
    font-family: 'Trebuchet MS';
    letter-spacing: 7px;
    color: #000000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 2rem;
    padding: .05%;
    /*guide;*/
    background-color: green;
}

body {
    padding-top: .05%;
    padding-right: .05%;
    padding-left: .05%;
    padding-bottom: 0;
}

#dash {
    /*margin-top: 1rem;*/
    display: flex;
}

#search {
    /*guide;*/
    background-color: #ffc279;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 30%;
}

#accessUIDiv {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

#searchText {
    width: 70%
}

.buttons {}

#contact {
    /*guide;*/
    background-color: aquamarine;
    padding-right: 3%;
    width: 100%
}

#contact-buttons {
    display: inline-flex;
    width: 50%
}

.hidden{
    display: none;
}
/*not hidden*/
.edit-button{

}