body 
{
    background-color: #170b36;
}

#title 
{
    font-size: 40px;
    width: 90%;
    margin: 2% 5%;
    margin-top: 6%;
    text-align: center;
    font-family: 'Trebuchet MS';
    letter-spacing: 7px;
    transform: scale(1.2, 1);
    color: #FFFFFF;
}

#motto
{
    font-size: 15px;
    width: 90%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    color: #FFFFFF;
}

#loginDiv
{
    font-size: 30px;
    width: 65%;
    margin-left: 15%;
    margin-top: 3%;
    padding: 25px;
    background-color: #caccfd;
    border-radius: 25px;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 15px;
    border-radius: 2px;
    width: 20%;
    height: 30px;
    margin-left: 40%;
    border: none;
    font-family: 'Trebuchet MS';
}

.buttons:hover{
    background-color: #1709ac4f;
    color: #000000;
    opacity: 80%;
}

#loginName
{
	font-size: 15px;
    border: none;
    height: 30px;
    margin-left: 25%;
    width: 50%;
}
#loginPassword
{
	font-size: 15px;
    border: none;
    height: 30px;
    margin-left: 25%;
    width: 50%;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 0.7em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Trebuchet MS';
    color: #000000;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#signupClick
{
    font-size: 15px;
    text-align: center;
    font-family: 'Trebuchet MS';
}