body 
{
    background-color: #ffffff;
    
}

header 
{   
    display:flex;        
    margin: auto;
    justify-content: center;
    flex-direction:column;
    /*self: center ;*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#title 
{
    font-size: 40px;

    display:flex;
    justify-content: center;
    align-items: center;

    margin: 2% 5%;
    margin-top: 6%;
    text-align: center;
    font-family: 'Trebuchet MS';
    letter-spacing: 7px;
    transform: scale(1.2, 1);
    color: #000000;
}

#motto
{
    font-size: 15px;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    color: #000000;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 15px;
    border-radius: 2px;
    width: 51%;
    height: 40px;
    margin-left: 25%;
    border: none;
    font-family: 'Trebuchet MS';
    background-color: #000000;
    color: #ffffff;
}

.buttons:hover{
    background-color: #0022ff4f;
    color: #000000;
    opacity: 100%;
}

#loginDiv
{
    font-size: 30px;
    width: 65%;
    margin-left: 15%;
    margin-top: 3%;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 25px;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#loginName
{
	font-size: 15px;
    border-radius: 2px;
    height: 40px;
    margin-left: 25%;
    border-color: #000000;
    width: 50%;
}

#loginPassword
{
	font-size: 15px;
    border-radius: 2px;
    height: 40px;
    border-color: #000000;
    width: 50%;

    margin-left: 25%;
    margin-bottom: 2%;

}

#registerFirstName
{
	font-size: 15px;
    border-radius: 2px;
    height: 40px;
    margin-left: 25%;
    border-color: #000000;
    width: 50%;
    margin-bottom: 2%;
}

#registerLastName
{
	font-size: 15px;
    border-radius: 2px;
    height: 40px;
    margin-left: 25%;
    border-color: #000000;
    width: 50%;
    margin-bottom: 2%;
}

#registerName
{
	font-size: 15px;
    border-radius: 2px;
    height: 40px;
    margin-left: 25%;
    border-color: #000000;
    width: 50%;
    margin-bottom: 2%;
}

#registerPassword
{
	font-size: 15px;
    border-radius: 2px;
    height: 40px;
    margin-left: 25%;
    border-color: #000000;
    width: 50%;
    margin-bottom: 2%;
}

#searchText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]
{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title
{
    display: inline-block;
    font-size: 0.7em;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 2%;
    font-family: 'Trebuchet MS';
    color: #000000;
}

label
{
    font-size: 1rem;
    font-family: 'Trebuchet MS';
    margin-left: 25%;

}


#loginResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#registerResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName
{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton
{
    width: 20%;
    margin-left: 40%;
}

select
{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#signupClick
{
    font-size: 15px;
    text-align: center;
    font-family: 'Trebuchet MS';
}

#registerDiv
{
    font-size: 30px;
    width: 65%;
    margin-left: 15%;
    margin-top: 3%;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 25px;
}
